
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Data files
*.data

# Logs and debug files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache files
*.cache
*.pytest_cache/
